#home {
    height: 100%;
    .links {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
    }
    a {
        margin: 0 12px;
    }
}
