.photo-release-document {
    margin-top: 2em;
    width: 100%;
    .overlay {
        position: absolute;
        padding: 26px;
        left: 0;
        right: 0;
        top: 25%;
        z-index: 10;
        width: 80%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        border-radius: 10px;
        overflow-y: scroll;
        button {
            position: absolute;
            right: 32px;
            cursor: pointer;
            font-size: 1.6em;
            border-radius: 4px;
            background-color: #ed5454bb;
            border: none;
        }
    }
}

.overlay-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(33, 33, 33, 0.65);
    height: 100%;
    width: 100%;
}

.photo-release-open-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #333;
    border-radius: 25px;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    transition: all 0.4s;
    cursor: pointer;
}
