.back-button {
    // Remove button styling
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
    // End remove button styling
    float: left;
}
