#photo-release-form-container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 62px 55px 90px;
    overflow: hidden;
    background: #fff;

    #photo-release-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        h1 {
            text-align: center;
            margin-bottom: 1em;
            font-size: 3em;
            color: #333;
            font-weight: bolder;
        }
        .form-label-and-input {
            position: relative;
            width: 100%;
            border: 1px solid #e6e6e6;
            border-radius: 13px;
            padding: 10px 30px 9px 22px;
            margin: 0;
            box-sizing: border-box;
            margin-bottom: 20px;
            background-color: #f7f7f7;
            label {
                font-size: 10px;
                color: #393939;
                line-height: 1.5;
                text-transform: uppercase;
            }
            .modal-input {
                height: 40px;
                display: block;
                width: 100%;
                background: 0 0;
                font-size: 18px;
                color: #555;
                line-height: 1.2;
                padding-right: 15px;
                outline: none;
                border: none;
                overflow: visible;
                margin: 0;
            }

            textarea {
                min-height: 120px;
                padding-top: 9px;
                padding-bottom: 13px;
            }
        }
        .modal-input-submit-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
            padding-top: 20px;
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            .modal-input-submit {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
                width: 100%;
                height: 50px;
                background-color: #333;
                border-radius: 25px;
                font-size: 16px;
                color: #fff;
                line-height: 1.2;
                transition: all 0.4s;
                cursor: pointer;
            }
            .modal-input-submit:disabled {
                background-color: #999;
                color: #bbb;
                cursor: not-allowed;
            }
        }
    }
}
