@use "/src/variables.scss" as v;

.aButton {
    background-color: inherit;
    border: 5px solid var(--text);
    font-family: v.$font-heading;
    font-size: 4vh;
    width: 20rem;
    overflow: hidden;
    cursor: pointer;
    outline: inherit;
    border-radius: 5px;
}

.aButton:hover {
    background-color: var(--text);
    color: var(--background);
}

.aButton:active {
    background-color: var(--accent);
    color: var(--background);
    border: 5px solid var(--accent);
}
