@import "/src/variables.scss";

.landing {
    background-color: var(--background);
    height: 100vh;
    overflow: none;
    text-align: center;
    h1 {
        font-family: var(--font-accent);
        font-size: 8vh;
        margin: 0;
    }
    h2 {
        margin: 0;
        margin-bottom: 2vh;
        font-family: var(--font-accent);
        font-size: 5vh;
        font-weight: lighter;
        font-style: italic;
    }
    .logo {
        height: 50vh;
        stroke-width: 0.75vh;
        stroke: $color-mono4;
        fill: $color-mono9;
    }
}
