@import "/src/variables.scss";

.landing {
    height: 100vh;
    overflow: none;
    text-align: center;
    .logo {
        height: 50vh;
        stroke-width: 0.75vh;
        stroke: $color-mono4;
        fill: $color-mono9;
    }
}
