@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,400;0,600;1,200&display=swap");

$font-heading: "K2D", sans-serif;

$color-primary: #f0f5f9;
$color-secondary: #c9d6df;
$color-tertiary: #52616b;
$color-text: #1e2022;

$color-mono1: #f8f9fa;
$color-mono2: #e9ecef;
$color-mono3: #dee2e6;
$color-mono4: #ced4da;
$color-mono5: #adb5bd;
$color-mono6: #6c757d;
$color-mono7: #495057;
$color-mono8: #343a40;
$color-mono9: #212529;

$color-light-primary: #f0f5f9;
$color-light-secondary: #c9d6df;
$color-light-tertiary: #52616b;
$color-light-text: #1e2022;

$color-light-mono1: #f8f9fa;
$color-light-mono2: #e9ecef;
$color-light-mono3: #dee2e6;
$color-light-mono4: #ced4da;
$color-light-mono5: #adb5bd;
$color-light-mono6: #6c757d;
$color-light-mono7: #495057;
$color-light-mono8: #343a40;
$color-light-mono9: #212529;

$color-dark-primary: #f0f5f9;
$color-dark-secondary: #c9d6df;
$color-dark-tertiary: #52616b;
$color-dark-text: #1e2022;

$color-dark-mono1: #f8f9fa;
$color-dark-mono2: #e9ecef;
$color-dark-mono3: #dee2e6;
$color-dark-mono4: #ced4da;
$color-dark-mono5: #adb5bd;
$color-dark-mono6: #6c757d;
$color-dark-mono7: #495057;
$color-dark-mono8: #343a40;
$color-dark-mono9: #212529;

:root {
    --background: #{$color-mono4}; //color-mono4
    --text: #{$color-mono9}; //color-mono9
    --text-inactive: #{$color-mono5}; //color-mono5
    --accent: #{$color-mono7}; // color-mono7

    --font-accent: "K2D", sans-serif; //font-heading
}
